
<%= form_for(@article, remote: true) do |f| %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, autofocus: true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :text %>
    <%= f.text_area :text, autofocus: true, class: "form-control" %>
  </div>
  <div>
    <% if current_page?(:action => 'new') %>
    <%= f.submit "Create post" ,class: "btn btn-success"%>
    <% else %>
    <%= f.submit "Modify the post" ,class: "btn btn-success" %>
    <% end %>
  </div>
<% end %>

