<div class="row">

  <div class="col-xs-8" id="addArticle">
    <% @articles.each do |article| %>
      <div class="post" id="<%= article.id %>" style="background-color: lightgrey; margin-top: 20px; padding: 10px;">
        <div class="row">
          <div class="col-xs-2">
            <%= image_tag Gravatar.new(current_user.email).image_url, :class => "image-circle" %>
            <p>NOMBRE: <%= current_user.name %></p>
          </div>
          <div class="col-xs-10">
            <h2 style="display: inline-block;"><%= article.title %></h2>
            <p class="text-right" style="display: inline-block; float:right">Published: <%= l(article.created_at, format: '%d %b %y') %></p>
            <p><%= article.text %></p>

            <p class="text-right"><%= article.comments.count %> Comments</p>
            <span><%= link_to 'Show', article_path(article) %></span>|
            <% if user_signed_in? %>
              <span><%= link_to 'Edit', edit_article_path(article), remote: true %></span>|
              <span><%= link_to 'Destroy', article_path(article),
              method: :delete, data: { confirm: 'Are you sure?' } %></span>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>


  <div class="col-xs-4">
    <% @last.each do |article| %>
      <div class="post" style="background-color: lightgrey; margin-top: 5px; padding: 5px;">
        <h4 style="display: inline-block;"><%= article.title %></h4>
        <p style="">Published: <%= l(article.created_at, format: '%d %b %y') %></p>
      </div>
    <% end %>
  </div>
</div>



