<h1>Listing articles</h1>

<%= link_to 'New article', new_article_path %>



<% @articles.each do |article| %>
  <div class="col-xs-8">
    <div class="post" style="background-color: lightgrey; margin-top: 20px; padding: 10px;">
      <h2 style="display: inline-block;"><%= article.title %></h2>
      <p style="display: inline-block; text-align:right">Published: <%= l(article.created_at, format: '%d %b %y') %></p>
      <p><%= article.text %></p>
      <span><%= link_to 'Show', article_path(article) %></span>|
      <span><%= link_to 'Edit', edit_article_path(article) %></span>|
      <span><%= link_to 'Destroy', article_path(article),
                      method: :delete, data: { confirm: 'Are you sure?' } %></span>
    </div>
  </div>
  <% end %>
  <% @last.each do |article| %>
  <div class="col-xs-4">
    <div class="post" style="background-color: lightgrey; margin-top: 5px; padding: 5px;">
      <h4 style="display: inline-block;"><%= article.title %></h4>
      <p style="">Published: <%= l(article.created_at, format: '%d %b %y') %></p>
    </div>
  </div>
<% end %>
</table>


