
<div class="col-xs-8">
    <div class="post" style="background-color: lightgrey; margin-top: 20px; padding: 10px;">
      <h2 style="display: inline-block;"><%= @article.title %></h2>
      <p style="display: inline-block; float:right">Published: <%= l(@article.created_at, format: '%d %b %y') %></p>

      <p><%= @article.text %></p>

      <%= link_to 'Edit Article', edit_article_path(@article) %> |
      <%= link_to 'Back to Articles', articles_path %>

      <h4>Comments</h4>
      <% @article.comments.each do |comment| %>
       <%= render 'comments/comment', comment: comment %>
      <% end %>
      <%# we could replace these 3 lines with <%= render @article.comments %>

      <%= render 'comments/form' %>


  </div>
</div>
